mixin musiclist(track, index)
  li.list
    span=`${index+1}. ${track.artist} - ${track.title}`
    div.rightContainer
      div
        img(src=`${track.albumImage}`)
      button.btn(data-youtube-id=`${track.videoId}`)
        i(class="fa-solid fa-music")